/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff5252;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.left-section {
    display: flex;
    align-items: center;
}

.title {
    margin-right: 10px;
    color: white;
}

.right-section ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.right-section ul li {
    display: inline;
    margin-left: 20px;
}

.right-section ul li a {
    font-size: 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-decoration: none;
}

.right-section ul li a:hover {
    color: #fff;
    background-color: #ff7e57;
    text-decoration: underline;
}

.content {
    border-radius: 20px;
    margin-top: 150px;
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff; /* Adjust background color as needed */
    padding: 20px;
}
  
.left {
    text-align: left;
}
  
.left h1 {
    color: #ff5252;
    font-size: 2.5em;
    margin-bottom: 0.5em;
}
  
.left p {
    color: #ff7e57;
    margin-left: 10px;
    margin-bottom: 0.5em;
    font-size: 1.5em;
}
  
.right img {
    margin-right: 100px;
    width: 200px; 
    height:250px; 
    border-radius: 50%; 
    box-shadow: 0 0 10px  #ff5252;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.box {
    width: 200px;
    padding: 20px;
    margin: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}
  
.boxleft:hover {
    transform: translateY(-7px);
    box-shadow: 0 5px 15px #ff5252 ;
}
.boxright:hover {
    transform: translateX(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
}
.boxleft2:hover {
    transform: translateY(5px);
    box-shadow: 0 5px 15px #ff5252;
}

  

.boxleft {
    align-self: flex-start;
    margin: 20px;
    padding: 10px;
    background-color: #ff7e57;
    color: #f0f0f0;
    border-radius: 20px;
    width: 700px;

}
.boxright {
    margin: 20px;
    padding: 10px;
    background-color:#ff5252;
    color: #fff;
    border-radius: 20px;
    width: 700px;
    align-self: flex-end;
}
.boxleft2 {
    align-self: flex-start;
    margin: 20px;
    padding: 10px;
    background-color:#f8f8f8;
    color:#ff5252;
    border-radius: 20px;
    width: 700px;

}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}
  
.info {
    text-align: center;
    color: #ff7e57;
}
.info button {
    margin: 30px;
    margin-bottom: 70px;
    padding: 10px 20px;
    background-color: #ff5252;
    color: #fff;
    border:#333;
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
  }
.info button:hover {
    background-color:#fff;
    color: #ff5252;
    border: #ff7e57;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:#ff5252;
    color: #fff;
    text-align: center;
  }
  
.cont {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cont h3 {
    margin: 10px 0;
  }
  
  .cont p {
    margin: 0 10px;
  }
  
  .cont a {
    color: #fff;
    text-decoration: none;
  }
  
  .cont a:hover {
    color: #ccc;
  }



  